package views

import "github.com/Asaadziad/devlog/views/components"

templ Index(projects templ.Component){
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Asaadziad</title>
        <link href="/static/tailwind.css" rel="stylesheet">
    </head> 
    @components.Nav()
    @components.Header() 
    @components.Body(projects) 
    @components.Footer()
    </html>
}